.button {
  font: inherit;
  border: none;
  background: #bb000e;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
.input {
  border-bottom: 1px solid #bb000e;
  width: 354px;
  height: 21px;
}